<aside>
	<a href="https://gum.co/PbYZo" target="_blank" style="background: #4794DD;border-radius: 2px;width: 100%;display: inline-block;text-align: center;color: white;padding: .5em;margin-bottom: .75em;">Contact me</a>
	<div class="about">
		<h4 class="title">About {{@blog.title}}</h4>
		<p class="blog-description">{{@blog.description}}</h2>
	</div>
	<div class="social">
			{{> active-social }}
	</div>
	<div class="twitter">

		{{!> twitter }}

	</div>
	{{> active-ads }}
	<footer>
		<p>Proudly developed whit <a href="http://ghost.org" target="_blank">Ghost</a> by <a href="http://gulp.dev" target="_blank">Ghostbuzter.com</a></p>
	</footer>
</aside>
