<h4>Follow me</h4>
<div class="icons">
  <section class="blog--social"><div class="icons">

  	{{! example - delete if you want}}
      <a class="icons--icon icon" target="_blank" href="http://facebook.com/nike" title="facebook" >
          <i class="fa fa-facebook"></i>
      </a>

  	{{! paste below here }}
    <a href="url_of_your_perfil" class="icons--icon icon" title="" target="_blank">
      <i class="fa fa-twitch"></i>
    </a>


  </div></section>
</div>
